In [1]:
import pandas as pd
import re

# General overview

In [2]:
df = pd.read_excel(r'C:\Users\LN743MY\Documents\EY\personal stuff\AI Launch Pad\data_cleaning_and_analysis.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   provider-name__lnk               157 non-null    object
 1   provider-details__specialty      157 non-null    object
 2   sr-only                          157 non-null    object
 3   star-rating__reviews             157 non-null    object
 4   sr-only 2                        124 non-null    object
 5   location-info__office-loc        157 non-null    object
 6   location-info__office-loc 2      157 non-null    object
 7   feats-of-strength__feat-title    120 non-null    object
 8   feats-of-strength__feat-title 2  106 non-null    object
 9   feats-of-strength__feat-title 3  104 non-null    object
 10  location-info__distance 2        157 non-null    object
 11  star-rating href                 33 non-null     object
dtypes: object(12)
memory usage: 14.9+ KB

In [4]:
file = pd.ExcelFile(r'C:\Users\LN743MY\Documents\EY\personal stuff\AI Launch Pad\data_cleaning_and_analysis.xlsx')

In [5]:
names = file.sheet_names
names

['Indiana', 'Missouri', 'Iowa', 'Wisconsin', 'Nebraska', 'Kansas', 'Illinois']

In [6]:
sheet = {}
for i in range(len(names)):
    sheet[names[i]] = file.parse(i, header = None, index = False)

In [7]:
for i in range(len(sheet)):
    sheet[names[i]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       158 non-null    object
 1   1       158 non-null    object
 2   2       158 non-null    object
 3   3       158 non-null    object
 4   4       125 non-null    object
 5   5       158 non-null    object
 6   6       158 non-null    object
 7   7       121 non-null    object
 8   8       107 non-null    object
 9   9       105 non-null    object
 10  10      158 non-null    object
 11  11      34 non-null     object
dtypes: object(12)
memory usage: 15.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       35 non-null     object
 1   1       112 non-null    object
 2   2       112 non-null    object
 3   3       112 non-null    object
 4   4       112 non-null    object
 5   5       112 non-null    object
 6   6       85 non-null     object
 7   7       112 non-null    object
 8   8       112 non-null    object
 9   9       112 non-null    object
 10  10      76 non-null     object
 11  11      69 non-null     object
 12  12      65 non-null     object
 13  13      28 non-null     object
dtypes: object(14)
memory usage: 12.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       30 non-null     object
 1   1       47 non-null     object
 2   2       47 non-null     object
 3   3       47 non-null     object
 4   4       47 non-null     object
 5   5       47 non-null     object
 6   6       44 non-null     object
 7   7       47 non-null     object
 8   8       47 non-null     object
 9   9       47 non-null     object
 10  10      41 non-null     object
 11  11      41 non-null     object
 12  12      38 non-null     object
dtypes: object(13)
memory usage: 4.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       40 non-null     object
 1   1       662 non-null    object
 2   2       662 non-null    object
 3   3       662 non-null    object
 4   4       662 non-null    object
 5   5       662 non-null    object
 6   6       450 non-null    object
 7   7       662 non-null    object
 8   8       662 non-null    object
 9   9       662 non-null    object
 10  10      415 non-null    object
 11  11      371 non-null    object
 12  12      333 non-null    object
 13  13      213 non-null    object
 14  14      1 non-null      object
dtypes: object(15)
memory usage: 77.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       26 non-null     object
 1   1       42 non-null     object
 2   2       42 non-null     object
 3   3       42 non-null     object
 4   4       42 non-null     object
 5   5       42 non-null     object
 6   6       36 non-null     object
 7   7       42 non-null     object
 8   8       42 non-null     object
 9   9       42 non-null     object
 10  10      33 non-null     object
 11  11      29 non-null     object
 12  12      28 non-null     object
dtypes: object(13)
memory usage: 4.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       127 non-null    object
 1   1       139 non-null    object
 2   2       139 non-null    object
 3   3       139 non-null    object
 4   4       139 non-null    object
 5   5       112 non-null    object
 6   6       134 non-null    object
 7   7       139 non-null    object
 8   8       139 non-null    object
 9   9       103 non-null    object
 10  10      90 non-null     object
 11  11      84 non-null     object
 12  12      44 non-null     object
 13  13      8 non-null      object
 14  14      7 non-null      object
 15  15      7 non-null      object
dtypes: object(16)
memory usage: 18.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       283 non-null    object
 1   1       283 non-null    object
 2   2       283 non-null    object
 3   3       283 non-null    object
 4   4       283 non-null    object
 5   5       190 non-null    object
 6   6       283 non-null    object
 7   7       283 non-null    object
 8   8       283 non-null    object
 9   9       175 non-null    object
 10  10      156 non-null    object
 11  11      147 non-null    object
 12  12      94 non-null     object
dtypes: object(13)
memory usage: 29.0+ KB

# Cleaning

In [8]:
# # test case
sheet['Indiana'].iloc[158, :].isna().to_list()
len(sheet['Indiana'])
# sheet['Kansas'].info()
# # sheet['Kansas'].drop(0, inplace=True)
# # sheet['Kansas']
len(sheet['Kansas'])
sheet['Kansas'].iloc[136, :].isna().to_list()
sheet['Kansas'].iloc[6, :]

0                                    Dr. Levi Young, MD
1     https://www.healthgrades.com/physician/dr-levi...
2            Cosmetic, Plastic & Reconstructive Surgery
3                             Rated 4.5 out of 5 stars,
4                                            33 ratings
5                                                  with
6                                       4749 W 134th St
7                                     Leawood, KS 66209
8                                               15.7 mi
9                                     Offers Telehealth
10                                      Easy scheduling
11                               Employs friendly staff
12                                                  NaN
13                                                  NaN
14                                                  NaN
15                                                  NaN
Name: 6, dtype: object

In [9]:
# try to delete empty rows
drop_lst = {}
for i in range(len(sheet)):
    for x in range(len(sheet[names[i]])):
        lst = sheet[names[i]].iloc[x, :].isna().to_list()
        for j in range(len(lst)):
            if lst[j] == False:
                break
            if j == len(lst) - 1 and lst[j] == True:
                if i not in drop_lst:
                    drop_lst[i] = [x]
                else:
                    drop_lst[i].append(x)
drop_lst

{5: [0, 4, 114, 115], 6: [3]}

In [10]:
# delete empty rows
for idx in drop_lst:
    sheet[names[idx]].drop(labels=drop_lst[idx], inplace=True)
    sheet[names[idx]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 1 to 143
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       127 non-null    object
 1   1       139 non-null    object
 2   2       139 non-null    object
 3   3       139 non-null    object
 4   4       139 non-null    object
 5   5       112 non-null    object
 6   6       134 non-null    object
 7   7       139 non-null    object
 8   8       139 non-null    object
 9   9       103 non-null    object
 10  10      90 non-null     object
 11  11      84 non-null     object
 12  12      44 non-null     object
 13  13      8 non-null      object
 14  14      7 non-null      object
 15  15      7 non-null      object
dtypes: object(16)
memory usage: 18.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 0 to 283
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       283 non-null    object
 1   1       283 non-null    object
 2   2       283 non-null    object
 3   3       283 non-null    object
 4   4       283 non-null    object
 5   5       190 non-null    object
 6   6       283 non-null    object
 7   7       283 non-null    object
 8   8       283 non-null    object
 9   9       175 non-null    object
 10  10      156 non-null    object
 11  11      147 non-null    object
 12  12      94 non-null     object
dtypes: object(13)
memory usage: 31.0+ KB

In [11]:
# set sheet number to each sheet's content
for i in range(len(names)):
    vars()['sheet'+str(i + 1)] = sheet[names[i]].rename(columns=sheet[names[i]].iloc[0]).loc[1:]

In [12]:
sheet1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 1 to 158
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   provider-name__lnk               157 non-null    object
 1   provider-details__specialty      157 non-null    object
 2   sr-only                          157 non-null    object
 3   star-rating__reviews             157 non-null    object
 4   sr-only 2                        124 non-null    object
 5   location-info__office-loc        157 non-null    object
 6   location-info__office-loc 2      157 non-null    object
 7   feats-of-strength__feat-title    120 non-null    object
 8   feats-of-strength__feat-title 2  106 non-null    object
 9   feats-of-strength__feat-title 3  104 non-null    object
 10  location-info__distance 2        157 non-null    object
 11  star-rating href                 33 non-null     object
dtypes: object(12)
memory usage: 14.9+ KB

In [13]:
sheet1['sr-only'].iloc[1]

'Rated 5 out of 5 stars,'

In [14]:
re.findall("\d+", sheet1['sr-only'].iloc[1])

['5', '5']

In [15]:
len(sheet1['sr-only'])

158

In [16]:
test = []
len(test) == 0

True

In [17]:
# test case
for i in range(len(sheet1['sr-only'])):
#     sheet1['sr-only'].iloc[i]
    new = re.findall("\d+\.\d+", str(sheet1['sr-only'].iloc[i]))
    if len(new) == 0:
        if len(re.findall("\d+", str(sheet1['sr-only'].iloc[i]))) == 0:
            new = [sheet1['sr-only'].iloc[i]]
        else:
            new.append(re.findall("\d+", str(sheet1['sr-only'].iloc[i]))[0])
    sheet1['sr-only'].iloc[i] = new[0]

In [22]:
# pd.to_numeric(sheet1['sr-only'])

In [29]:
len(sheet1['provider-name__lnk'].unique())

158

In [ ]:
# extract star-rating__reviews column